---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title';
import Header from '../components/Atoms/Header';
---

<Layout
	pageName="ホーム"
	desc="Sky Coffeeの説明文が入ります。"
	type="website"
>
	<Header />
	<Title>タイトル</Title>
	<p>test</p>
</Layout>
