---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title';
---

<Layout
	pageName="ホーム"
	desc="Sky Coffeeの説明文が入ります。"
	type="website"
>
	<Title>タイトル</Title>
	<p>test</p>
</Layout>
