.HamburgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: var(--color-primary);
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.4rem;
}

.inner span {
  width: 100%;
  height: 2px;
  background: var(--color-white);
  border-radius: 10px;
  transform-origin: center center;
  transition: all var(--default-transition);
}

.HamburgerButton[aria-expanded="true"] .inner span:nth-child(1) {
  rotate: 45deg;
  translate: 0 0.6rem;
}

.HamburgerButton[aria-expanded="true"] .inner span:nth-child(2) {
  opacity: 0;
}

.HamburgerButton[aria-expanded="true"] .inner span:nth-child(3) {
  rotate: -45deg;
  translate: 0 -0.6rem;
}