.nav {
  width: 100%;
}

.list {
  display: flex;
  justify-content: center;
}

.link {
  display: block;
  padding: 40px;
  transition: color var(--default-transition);
}

.link:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 767px) {
  .link {
    padding: 30px 25px;
  }
}