.header {
  width: 100%;
  padding: 50px;
  background: var(--color-white);
}

.logo {
  display: block;
  width: 100%;
  max-width: 280px;
  margin: auto;
  color: var(--color-text);
}

@media screen and (max-width: 767px) {
  .header {
    padding: 30px;
  }

  .logo {
    max-width: 160px;
  }
}